<h1>List of Pokemon</h1>

<% if flash[:notice] %>
	<div>
		<%= flash[:notice] %>
	</div>
<% end %>

<table border ="1" class="table table-striped" style="width: 800px; text-align: center">
	<thead>
		<tr>
			<th style="text-align: center">ID</th>
			<th style="text-align: center">Nombre</th>
		</tr>
	</thead>
	<tbody>
		<%- @pokes.each do |pkm| %>
			<tr>
				<td><%= link_to pkm.id, poke_path(pkm) %></td>
				<td><%= pkm.name %></td>
			</tr>
		<%- end %>
	</tbody>
</table>

<%= image_tag("group.png", height: "242", width: "996") %>

<% if current_user %>
	<% if current_user == User.find_by(username: 'System') %>
		<p> <%= link_to "New", new_poke_path , class:"btn btn-default btn-lg"%> </p>
		<p> <%= link_to "Agregar Categoria a Pokemon", new_catpok_path , class:"btn btn-default btn-lg"%> </p>
	<% end %>
<%end%>
