<h1>List of Pokemon</h1>

<% if flash[:notice] %>
	<div>
		<%= flash[:notice] %>
	</div>
<% end %>

<table border ="1" class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		<%- @pokes.each do |pkm| %>
			<tr>
				<td><%= link_to pkm.id, poke_path(pkm) %></td>
				<td><%= pkm.name %></td>
			</tr>
		<%- end %>
	</tbody>
</table>

<p> <%= link_to "New", new_poke_path , class:"btn btn-default btn-lg"%> </p>
<p> <%= link_to "Agregar Categoria a Pokemon", new_catpok_path , class:"btn btn-default btn-lg"%> </p>
