<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Center</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


  <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Pokemons</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Pokemon", pokes_path %>
                    </li>
                    <li>
                      <%= link_to "Categories", categories_path %>
                    </li>
                    <% if current_user %>
                    <li>
                      <%= link_to "Profile", profile_path %>
                    </li>
                    
                    <li>
                      <%= link_to "Log Out", logout_path, data: {method: :delete} %>
                    </li>
                    <% else%>
                    <li>
                      <%= link_to "Sign In", login_path %>
                    </li>
                    <li>
                      <%= link_to "Sign Up", new_user_path  %>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


  <div align= "center">
    <body background = "http://cdn.wallpapersafari.com/55/44/tvlMso.jpg">
    <%= yield %>
  </div>


    <footer>
        <div class="container text-center">
            <p> Jonathan & Edgar's Project</p>
        </div>
    </footer>
</body>
</html>
